/*variables*/

$logo-font:'Shrikhand',sans-serif;
$title-font:'Shrikhand',sans-serif;
$text-font:'Roboto', sans-serif;
$main-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$background-color:#FFFFFF;
$btn-gradient:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$btn-gradient-light:linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$light-gray-background:#EAEAEA;
$lighter-gray-background:#F3F3F3;
$footer-background:#353535;
$icon-default:#7E7E7E;

/****** General ***********/
* {
    font-family: $text-font
}

body{
    margin: 0;
}

.main-container{
    width: 100%;
    max-width: 767px;
    box-sizing: border-box;
}

.btn{
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border:none;
    background: $btn-gradient;

}

ul{
    padding:0;
}

a{
    text-decoration:none;
    color: inherit;
} 

.card {
    background-color: white;
    border-radius: 20px;
    margin: 0 0 18px 0;

    img {
        object-fit: cover;
    }
    
    .card-title {
        font-size: 18px;
    }
}

/***header***/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 14px 0 5px 0;
    position: relative;

    p{
        font-family: $logo-font;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }
}


/***main***/

/*location*/

.location{
    display: flex;
    justify-content:center;
    align-items: center;
    background: $light-gray-background;
    gap:15px;
    
    .location-icon{
        background-color: transparent;
        border: none;
    }

    .fa-location-dot{
        font-size: 16px;
    }

    .location-text{
        font-size: 16px;
        font-weight: 500;
    }
}


/*explorer*/

.explore{
    text-align: center;
    margin-top: 39.5px;

    .explore-title{
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        padding-left: 42px;
        width: 275px;
    }

    .explore-text{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
        width: 315px;
        padding-left: 34px;
    }

    .explore-btn{
        margin-top: 27px;
        padding: 13px 18.75px 13px 18.75px;
    }
}


/*fonctionnement*/

.fonctionnement{
    margin: 85px 0 0 20px;

    h2{
        margin-bottom: 30px;
    }

    .list-fonctionnement{
        font-weight: 500;
        padding: 25px 0 25px 0;
        margin-bottom: 25px;
        margin-left: 12px;
        display: flex;
        align-items: center;
        gap: 25px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 322px;
    }

    .option-list{
        text-align: center;
        position: relative;
        right:12px;
        color: white;
        padding-top: 2px;
        margin: 0;
        border-radius: 50%;
        width: 24px;
        height: 22px;
        background-color: $main-color;
    }

    .fa-mobile-screen-button{
        color: $icon-default;
    }

    .fa-list-ul{
        color: $icon-default;
    }

    .fa-store{
        color: $icon-default;
    }
}

/*restaurants*/

.restaurants {
    width: 100%;
    padding: 34px 20px 66px 20px;
    margin-top: 68px;
    box-sizing: border-box;
    background: $lighter-gray-background;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 251px;
    }
    
    img {
        width: 100%;
        height: 174px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card-content {
        width: 100%;
        padding-left: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .card-title {
        margin-top: 16px;
        margin-bottom: 5px;
    }
    
    .card-subtitle {
        margin: 4px 0 4px 0;
    }

    .heart{
        position: relative;
        bottom:42px;
        left: 280px;
    }

    .heart1{
        position: relative;
        bottom:70px;
        left: 280px;
    }

    .heart2{
        position: relative;
        bottom:70px;
        left: 280px;
    }

    .fa-heart{
        font-size: 22px;
    }

    @mixin new-button{
        position: relative;
        text-align: center;
        border:none;
        border-radius: 2px;
        color: #008766;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        background-color: #99E2D0;
        width: 80px;
        height: 29px;
        font-size: 14px;
        font-weight: 500;
    }

    .new-card1{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }

    .new-card2{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }
}


/***footer***/

footer{
    background: $footer-background;
    color: white;
}

.logo{
    padding: 22px 0 16px 25px;
    font-size: 18px;
    font-weight: 400;
}

.footer-logo{
    font-family: $logo-font;
    margin: 0;
}

.footer-options{
    padding: 0 0 22px 25px;

    p{
        margin: 7px 0 0 0;
    }

    .footer-vectors{
        display: flex;
        gap: 11px;
        font-weight: 500;
    }

    i{
        width: 13px;
        height: 11px;
    }

    .fa-utensils{
        font-size: 13px;
        position: relative;
        top:10px;
    }

    .fa-handshake-angle{
        font-size: 13px;
        position: relative;
        top:10px;
    }
}

