/*variables*/

$logo-font:'Shrikhand',sans-serif;
$title-font:'Shrikhand',sans-serif;
$text-font:'Roboto', sans-serif;
$main-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$background-color:#FFFFFF;
$btn-gradient:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$btn-gradient-light:linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$light-gray-background:#EAEAEA;
$lighter-gray-background:#F3F3F3;
$menu-background:#F6F6F6;
$footer-background:#353535;
$icon-default:#7E7E7E;
$menu-underline: #99E2D0;