/***footer***/

footer{
    background: $footer-background;
    color: white;
}

.logo{
    padding: 22px 0 16px 25px;
    font-size: 18px;
    font-weight: 400;
}

.footer-logo{
    font-family: $logo-font;
    margin: 0;
}

.footer-options{
    padding: 0 0 22px 25px;

    p{
        margin: 0px 0 7px 0;
    }

    a{
        margin: 7px 0 0 0;
        @media (min-width: 768px) {
            margin: 0;
        }
    }

    .footer-vectors{
        display: flex;
        gap: 11px;
        font-weight: 500;
    }

    i{
        width: 13px;
        height: 11px;
    }

    .fa-utensils{
        font-size: 13px;
        position: relative;
        top:3px;
    }

    .fa-handshake-angle{
        font-size: 13px;
        position: relative;
        top:3px;
    }
}

@media (min-width: 768px) {
    footer{
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-options{
        display: flex;
        padding-top: 64px;
        padding-bottom: 31px;
        gap: 30px;
    }

    .logo{
        padding: 64px 26px 31px 100px;
    }
}