/*location*/

.location{
    display: flex;
    justify-content:center;
    align-items: center;
    background: $light-gray-background;
    gap:15px;
    
    .location-icon{
        background-color: transparent;
        border: none;
    }

    .fa-location-dot{
        font-size: 16px;
    }

    .location-text{
        font-size: 16px;
        font-weight: 500;
    }
}


/*explorer*/

.explore{
    text-align: center;
    margin-top: 39.5px;

    .explore-title{
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        padding-left: 42px;
        width: 275px;
    }

    .explore-text{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
        width: 315px;
        padding-left: 34px;
    }

    .explore-btn{
        margin-top: 27px;
        padding: 13px 18.75px 13px 18.75px;
    }
}


/*fonctionnement*/

.fonctionnement{
    margin: 85px 0 0 20px;

    h2{
        margin-bottom: 30px;
    }

    .list-fonctionnement{
        font-weight: 500;
        padding: 25px 0 25px 0;
        margin-bottom: 25px;
        margin-left: 12px;
        display: flex;
        align-items: center;
        gap: 25px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 322px;
    }

    .option-list{
        text-align: center;
        position: relative;
        right:12px;
        color: white;
        padding-top: 2px;
        margin: 0;
        border-radius: 50%;
        width: 24px;
        height: 22px;
        background-color: $main-color;
    }

    .fa-mobile-screen-button{
        color: $icon-default;
    }

    .fa-list-ul{
        color: $icon-default;
    }

    .fa-store{
        color: $icon-default;
    }
}

/*restaurants*/

.restaurants {
    width: 100%;
    padding: 34px 20px 66px 20px;
    margin-top: 68px;
    box-sizing: border-box;
    background: $lighter-gray-background;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 251px;
    }
    
    img {
        width: 100%;
        height: 174px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card-content {
        width: 100%;
        padding-left: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .card-title {
        margin-top: 16px;
        margin-bottom: 5px;
    }
    
    .card-subtitle {
        margin: 4px 0 4px 0;
    }

    // .heart{
    //     position: relative;
    //     bottom:42px;
    //     left: 280px;
    // }

    // .heart1{
    //     position: relative;
    //     bottom:70px;
    //     left: 280px;
    // }

    // .heart2{
    //     position: relative;
    //     bottom:70px;
    //     left: 280px;
    // }

    // .fa-heart{
    //     font-size: 22px;
    // }

    .new-card1{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }

    .new-card2{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }
}

/*tablet-desktop responsive*/

@media (min-width: 768px) {

    .main-container{
        width: 100%;
        max-width: 1440px;
    }

    /*explorer*/
    .explore{
        margin-top: 30px;

        .explore-title{
            width: 100%;
            padding:0;
        }
    
        .explore-text{
            width: 100%;
            padding: 0;
        }
    }

    /*fonctionnement*/

    .fonctionnement{
        margin: 85px 0 0 180px;

        ul{
            display: flex;
            gap: 36.5px;
        }

    }

/*restaurants*/

    .restaurants {
        width: 100%;
        padding: 34px 180px 66px 180px;
    }

    .restaurants-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px 90px;
    }

    .restaurants-cards {
        display: flex;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            width: 490px;
            height: 251px;
        }

        // .heart{
        //     position: relative;
        //     top: 790px;
        //     left: 100px;
        // }

        // .heart1{
        //     position: relative;
        //     bottom:00px;
        //     left: 0px;
        // }

        // .heart2{
        //     position: relative;
        //     bottom:50px;
        //     left: 0px;
        // }

        // .fa-heart{
        //     font-size: 22px;
        // }

        .new-card1{
            @include new-button;
            bottom: 230px;
            left: 380px;
        }

        .new-card2{
            @include new-button;
            bottom: 230px;
            left: 380px;
        }
    }
}