/*header*/

.fa-arrow-left{
    position: absolute;
    font-size: 20px;
    right: 335px;
}

/*pic*/
.menu-pic{
    width:100%;
    height: 275px;
}

.pic{
    max-width: 100%;
    max-height: 100%;
}

/*menu*/

.menu{

    position: relative;
    margin-top: -100px;
    background-color: $menu-background;
    border-radius: 40px 40px 0 0;

    h1{
        font-family: $title-font;
        font-size: 28px;
        font-weight: 400;
        margin-left: 17px;
        padding-top: 32px;
    }

    h2{
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: 300;
        margin-left: 13px;
        position: relative;

        &:before{
            position: absolute;
            top:1.5em;
            width: 40px;
            content: '';
            border-top: 3px solid $menu-underline;
        }
    }

    .plat{
        font-size: 18px;
        font-weight: 500;
        width: 89%;
    }

    p{
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .menu-list{
        margin-right:13px;
        margin-bottom: 40px;
    }

    .choice-menu{
        padding: 12px 0 12px 15px;
        margin-bottom: 12px;
        margin-left: 13px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        max-width: 100%;
    }

    .price{
        padding-right: 13.5px;

        .price-tag{
            font-weight: 700;
        }
    }

}

.fa-heart{
    position: absolute;
    font-size: 24px;
    bottom: 1110px;
    left: 330px;
}

/*commande*/

.commande{
    text-align: center;
    padding-bottom: 40px;
}

.commander-btn{
    padding: 13px 16px 13px 16px;
    width: 186px;
    height: 50px;
}


@media (min-width: 768px) {

    .main-container{
        width: 100%;
        max-width: 1440px;
    }

    /*header*/
    .fa-arrow-left{
        font-size: 20px;
        right: 1400px;
    }

    /*pic*/
    .menu-pic{
        object-fit: cover;
        width:100%;
        height: 383px;
    }

    .pic{
        width: 100%;
        height: 200%;
    }

    /*menu*/
    .menu{
        width: 73.25%;
        margin-left: 193px;

        h1{
            text-align: center;
            margin-left: 0;
            padding-top: 51px;
        }

        .dishes{
            padding-left: 210px;
        }
    
        .plat{
            width: 100%;
        }
    
        .menu-list{
            margin-right:0;
        }
    
        .choice-menu{
            padding: 12px 0 12px 15px;
            margin-left: 0;
            width: 634px;
        }
    }

    .fa-heart{
        bottom: 1110px;
        left: 700px;
    }
}