
.card {
    background-color: white;
    border-radius: 20px;
    margin: 0 0 18px 0;

    img {
        object-fit: cover;
    }
    
    .card-title {
        font-size: 18px;
    }
}


.new{
    position: relative;
        &::before{
            content: 'Nouveau';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: rem-calc(13);
            right: rem-calc(12);
            border-radius: rem-calc(2);
            padding: rem-calc(6) rem-calc(11);
            font-weight: 500;
            color: darken($third-color, 40%);
            background-color: $third-color;
        }
}