html{
    font-size: $base-font-size;
    font-family: $text-font;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.main-container{
    width: 100%;
    max-width: 767px;
    box-sizing: border-box;
}

ul{
    padding:0;
}

a{
    text-decoration:none;
    color: inherit;
} 

