.main{
    &__location{
        @include flex-center;
        background: $light-gray-background;
        gap:15px;
        
        .location-icon{
            background-color: transparent;
            border: none;
        }
    
        .fa-location-dot{
            font-size: 16px;
        }
    
        .location-text{
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__explore{
        flex-direction: column;
        padding: rem-calc(40) rem-calc(20) rem-calc(60);
        text-align: center;
        @include flex-center;
            h2{
                margin:0;
                font-size: 24px;
                font-weight: 700;
            }
            p{
                font-size: 18px;
                font-weight: 300;
            }
            &__text{
                margin: rem-calc(15) 0 rem-calc(27);
                font-weight: 300;
            }
            &__button{
                @include base-shadow;
                @include button-style;
                &:hover{
                    @include button-hover;       
                }
            }
        }



    .process-title{
        padding-left: rem-calc(20);
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
            margin-left: rem-calc(160);
        }
    }

    &__process{
        @include flex-center;
        flex-direction: column;
        padding: rem-calc(40) rem-calc(20);
        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: rem-calc(35);
        }

        .fonctionnement-title{
            margin: 0;
            padding: 0;
            display: none;
        }
            &__step{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: row-reverse;
                position: relative;
                width: 92%;
                max-width: rem-calc(691);
                margin-bottom: rem-calc(25);
                padding: rem-calc(28) rem-calc(15) rem-calc(28) 0;
                border-radius: rem-calc(20);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                @media screen and (min-width: 768px) {
                    justify-content: center; 
                    max-width: rem-calc(307);
                }
                .number{
                    @include flex-center;
                    position: absolute;
                    left: rem-calc(-12);
                    width: rem-calc(25);
                    height: rem-calc(25);
                    border-radius: 50%;
                    font-size: clamp(1.1rem, 2vw, 1.1rem);
                    color: white;
                    background-color: $main-color;
                }    
                p{
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }
                &:nth-child(2)::after{
                    content: '\f3cf';
                    @include logo-process;
                }
                &:nth-child(3)::after{
                    content: '\f03a';
                    @include logo-process;
                }
                &:nth-child(4)::after{
                    content: '\f54e';
                    @include logo-process;
                }
                &:hover, &:focus{
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
                        &:hover::after,
                        &:focus::after{
                            color: $main-color;
                        }
                }
            }
    }
}


/*restaurants*/

.main__restaurants {
    width: 100%;
    padding: 34px 20px 66px 20px;
    margin-top: 68px;
    box-sizing: border-box;
    background: $lighter-gray-background;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 251px;
    }
    
    img {
        width: 100%;
        height: 174px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card-content {
        width: 100%;
        padding-left: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .card-title {
        margin-top: 16px;
        margin-bottom: 5px;
    }
    
    .card-subtitle {
        margin: 4px 0 4px 0;
    }

    .new-card1{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }

    .new-card2{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }

    .heart{
        font-size: 24px;
        position: relative;
        right: 45px;
        top: 1105px;
        @media (min-width: 768px) {
                right:280px;
            }
    }

}

/*tablet-desktop responsive*/

@media (min-width: 768px) {

    .main-container{
        width: 100%;
        max-width: 1440px;
    }

    /*explorer*/
    .main__explore{
        margin-top: 30px;

        .main__explore__title{
            width: 100%;
            padding:0;
        }
    
        .main__explore__text{
            width: 100%;
            padding: 0;
        }
    }

    /*fonctionnement*/

    .main__fonctionnement{
        margin: 85px 0 0 180px;

        ul{
            display: flex;
            gap: 36.5px;
        }

    }

/*restaurants*/

    .main__restaurants {
        width: 100%;
        padding: 34px 180px 66px 180px;
    }

    .restaurants-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px 90px;
    }

    .restaurants-cards {
        display: flex;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            width: 490px;
            height: 251px;
        }

        .new-card1{
            @include new-button;
            bottom: 230px;
            left: 380px;
        }

        .new-card2{
            @include new-button;
            bottom: 230px;
            left: 380px;
        }
    }

}