.main{
    &__location{
        @include flex-center;
        background: $light-gray-background;
        gap:15px;
        
        .location-icon{
            background-color: transparent;
            border: none;
        }
    
        .fa-location-dot{
            font-size: 16px;
        }
    
        .location-text{
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__explore{
        flex-direction: column;
        padding: rem-calc(40) rem-calc(20) rem-calc(60);
        text-align: center;
        @include flex-center;
            h2{
                margin:0;
                font-size: 24px;
                font-weight: 700;
            }
            p{
                font-size: 18px;
                font-weight: 300;
            }
            &__text{
                margin: rem-calc(15) 0 rem-calc(27);
                font-weight: 300;
            }
            &__button{
                @include base-shadow;
                @include button-style;
                &:hover{
                    @include button-hover;       
                }
            }
        }

        &__fonctionnement{
            padding: rem-calc(40) rem-calc(20);
            @media screen and (min-width: 768px) { 
                padding: rem-calc(40) rem-calc(20);  
                    ul{
                        display: flex;
                        justify-content: center;
                        gap: 36.5px;
                    }           
            }
        
            h2{
                margin-bottom: 30px;
                @media screen and (min-width: 768px) { 
                    padding-left: rem-calc(160);
                }
            }
        
            &__list{
                font-weight: 500;
                padding: 25px 0 25px 0;
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                gap: 25px;
                border-radius: 20px;
                width: 92%;
                max-width: rem-calc(691);
                @media screen and (min-width: 768px) {
                    max-width: rem-calc(322);
                    margin-left:12px;
                }
                transition: all 0.3s ease-in-out;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                cursor: pointer;
        
                &:hover, &:focus{
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
        
                    .fa-mobile-screen-button{
                        color: $main-color;
                    }
                
                    .fa-list-ul{
                        color: $main-color;
                    }
                
                    .fa-store{
                        color: $main-color;
                    }
                }
            }
        
            &__option{
                text-align: center;
                position: relative;
                right:12px;
                color: white;
                padding-top: 2px;
                margin: 0;
                border-radius: 50%;
                width: 24px;
                height: 22px;
                background-color: $main-color;
            }
        
            .fa-mobile-screen-button{
                color: $icon-default;
            }
        
            .fa-list-ul{
                color: $icon-default;
            }
        
            .fa-store{
                color: $icon-default;
            }
        }

}


/*restaurants*/

.main__restaurants {
    width: 100%;
    padding: 34px 20px 66px 20px;
    margin-top: 68px;
    box-sizing: border-box;
    background: $lighter-gray-background;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 251px;
    }
    
    img {
        width: 100%;
        height: 174px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card-content {
        width: 100%;
        padding-left: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .card-title {
        margin-top: 16px;
        margin-bottom: 5px;
    }
    
    .card-subtitle {
        margin: 4px 0 4px 0;
    }

    .new-card1{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }

    .new-card2{
        @include new-button;
        bottom: 230px;
        left: 230px;
    }

    .heart{
        font-size: 24px;
        position: relative;
        right: 45px;
        top: 1105px;
        @media (min-width: 768px) {
                right:280px;
            }
    }

}

/*tablet-desktop responsive*/

@media (min-width: 768px) {

    .main-container{
        width: 100%;
        max-width: 1440px;
    }

    /*explorer*/
    .main__explore{
        margin-top: 30px;

        .main__explore__title{
            width: 100%;
            padding:0;
        }
    
        .main__explore__text{
            width: 100%;
            padding: 0;
        }
    }


/*restaurants*/

    .main__restaurants {
        width: 100%;
        padding: 34px 180px 66px 180px;
    }

    .restaurants-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px 90px;
    }

    .restaurants-cards {
        display: flex;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            width: 490px;
            height: 251px;
        }

        .new-card1{
            @include new-button;
            bottom: 230px;
            left: 380px;
        }

        .new-card2{
            @include new-button;
            bottom: 230px;
            left: 380px;
        }
    }

}