/*header*/

.header{
        &__back{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5%;
            padding: 5px;
                i{
                    font-size: 1.5rem;
                }
        }
}

/*pic*/

.menu-pic{
    width:100%;
    height: 275px;
}

.pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*menu*/

.main{
    &__menu{  
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $menu-background;
        border-radius: 40px 40px 0 0;
        position: relative;
        margin-top: -70px;
        padding-bottom: 75px;
        width:100%;
        @media screen and (min-width: 768px) {
            width: 73%;
            align-items: center;
            margin-left: rem-calc(190);
        }
            &__title{
                display: flex;
                align-items: center;
                gap: rem-calc(30);
                font-family: $title-font;
                font-weight: 400;
                font-size: 28px;
                margin: rem-calc(31) rem-calc(0) rem-calc(20) rem-calc(17);
                width: 90%;
                @media screen and (min-width: 768px) {
                    justify-content: center;
                    margin-top: 51px;
                    margin-bottom: 30px;
                }
            }
            .heart{
                @include flex-center;
                width: rem-calc(30);
                height: rem-calc(30);
                @media screen and (min-width: 768px) {
                    margin-left: rem-calc(20);
                }
                &::before{
                    @include heart;
                }
                &::after{
                    @include heart;
                    @include heart-solid;
                    }
                &:hover::before{
                    color:transparent;
                }
                &:hover::after{
                    font-weight: 900;
                    opacity: 1;
                }
            }
            &__starter, 
            &__dish, 
            &__dessert{
                padding: rem-calc(10) rem-calc(13) rem-calc(40);
                width: 93.07%;
                @media screen and (min-width: 768px) {
                    width: 60%;
                }
                    h3{
                        position: relative;
                        margin-bottom: rem-calc(30);
                        margin-top: 0;
                        font-weight: 300;
                        font-size: 16px;
                        text-transform: uppercase;
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: rem-calc(-10);
                            width: rem-calc(50);
                            height: rem-calc(4);
                            background-color: $third-color;
                            }
                        }
                }
            &__btn{
                @include button-style;
                @include base-shadow;
                padding: rem-calc(15) rem-calc(40);
                margin: 0 auto;
                &:hover{
                    @include button-hover;
                }
            }
    }
}

.meal{
    display: flex;
    @include menu-shadow;
    border-radius: rem-calc(20);
    margin-top: rem-calc(12);
    cursor: pointer;
    overflow: hidden;
    animation: appear 1s both;
    @for $i from 2 through 5{
        &:nth-child(#{$i}){
            animation-delay: 100ms * $i;
        }
    }
        &__description{
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            padding: rem-calc(12) rem-calc(10) rem-calc(12) rem-calc(15);
            h4{
                overflow: hidden;
                text-overflow:ellipsis;
                font-size: 18px;
                font-weight: 500;
                margin:0;
            }
            p{
                overflow: hidden;
                text-overflow:ellipsis;
                font-size: 15px;
                font-weight: 300;
                margin: 0;
            }
        }
        &__price{
            font-weight: 700;
            font-size: 15px;
            margin:0;
            margin-left: auto;
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            padding: rem-calc(10) rem-calc(13.5) rem-calc(10) rem-calc(5);
        }
        &__check{
            @include flex-center;
            margin-right: -95px;
            width: 65px;
            padding: 0 rem-calc(15);
            background-color: $third-color;
            transition: margin-right 0.3s ease-in-out;
                &::after{
                    content: '\f00c';
                    font-family: 'FontAwesome';
                    padding: rem-calc(5);
                    border-radius: 50%;
                    color: $third-color;
                    font-size: rem-calc(15);
                    background-color: #fff;
                    transition: transform 0.4s ease-in-out;
                }
                }
                &:hover &__check,
                &:focus &__check{
                    margin-right: 0;
                }
                &:hover &__check::after,
                &:focus &__check::after{
                    transform: rotate(360deg);
                }

}