/*variables*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
}
@keyframes visibility {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 767px;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

/***header***/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 14px 0 5px 0;
  position: relative;
}
.navbar p {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

/***footer***/
footer {
  background: #353535;
  color: white;
}

.logo {
  padding: 22px 0 16px 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer-logo {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}

.footer-options {
  padding: 0 0 22px 25px;
}
.footer-options p {
  margin: 7px 0 0 0;
}
.footer-options .footer-vectors {
  display: flex;
  gap: 11px;
  font-weight: 500;
}
.footer-options i {
  width: 13px;
  height: 11px;
}
.footer-options .fa-utensils {
  font-size: 13px;
  position: relative;
  top: 10px;
}
.footer-options .fa-handshake-angle {
  font-size: 13px;
  position: relative;
  top: 10px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-options {
    display: flex;
    padding-top: 64px;
    padding-bottom: 31px;
    gap: 30px;
  }
  .logo {
    padding: 64px 26px 31px 100px;
  }
}
.loader {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: visibility 1.5s ease forwards;
}
.loader__txt {
  font-size: 30px;
  letter-spacing: 1px;
  color: black;
}
.loader__ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.loader__ring::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  animation: rotate 1.2s linear infinite;
}

.btn {
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.card {
  background-color: white;
  border-radius: 20px;
  margin: 0 0 18px 0;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-title {
  font-size: 18px;
}

/*location*/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  gap: 15px;
}
.location .location-icon {
  background-color: transparent;
  border: none;
}
.location .fa-location-dot {
  font-size: 16px;
}
.location .location-text {
  font-size: 16px;
  font-weight: 500;
}

/*explorer*/
.explore {
  text-align: center;
  margin-top: 39.5px;
}
.explore .explore-title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-left: 42px;
  width: 275px;
}
.explore .explore-text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  width: 315px;
  padding-left: 34px;
}
.explore .explore-btn {
  margin-top: 27px;
  padding: 13px 18.75px 13px 18.75px;
  transition: box-shadow 400ms;
}
.explore .explore-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
}

/*fonctionnement*/
.fonctionnement {
  margin: 85px 0 0 20px;
}
.fonctionnement h2 {
  margin-bottom: 30px;
}
.fonctionnement .list-fonctionnement {
  font-weight: 500;
  padding: 25px 0 25px 0;
  margin-bottom: 25px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 322px;
  transition: box-shadow 300ms;
}
.fonctionnement .list-fonctionnement:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement .list-fonctionnement:hover .fa-mobile-screen-button {
  color: #9356DC;
}
.fonctionnement .list-fonctionnement:hover .fa-list-ul {
  color: #9356DC;
}
.fonctionnement .list-fonctionnement:hover .fa-store {
  color: #9356DC;
}
.fonctionnement .option-list {
  text-align: center;
  position: relative;
  right: 12px;
  color: white;
  padding-top: 2px;
  margin: 0;
  border-radius: 50%;
  width: 24px;
  height: 22px;
  background-color: #9356DC;
}
.fonctionnement .fa-mobile-screen-button {
  color: #7E7E7E;
}
.fonctionnement .fa-list-ul {
  color: #7E7E7E;
}
.fonctionnement .fa-store {
  color: #7E7E7E;
}

/*restaurants*/
.restaurants {
  width: 100%;
  padding: 34px 20px 66px 20px;
  margin-top: 68px;
  box-sizing: border-box;
  background: #F3F3F3;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
}
.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
}
.restaurants-cards img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants-cards .card-content {
  width: 100%;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.restaurants-cards .card-title {
  margin-top: 16px;
  margin-bottom: 5px;
}
.restaurants-cards .card-subtitle {
  margin: 4px 0 4px 0;
}
.restaurants-cards .new-card1 {
  position: relative;
  text-align: center;
  border: none;
  border-radius: 2px;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  bottom: 230px;
  left: 230px;
}
.restaurants-cards .new-card2 {
  position: relative;
  text-align: center;
  border: none;
  border-radius: 2px;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  bottom: 230px;
  left: 230px;
}

/*tablet-desktop responsive*/
@media (min-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 1440px;
  }
  /*explorer*/
  .explore {
    margin-top: 30px;
  }
  .explore .explore-title {
    width: 100%;
    padding: 0;
  }
  .explore .explore-text {
    width: 100%;
    padding: 0;
  }
  /*fonctionnement*/
  .fonctionnement {
    margin: 85px 0 0 180px;
  }
  .fonctionnement ul {
    display: flex;
    gap: 36.5px;
  }
  /*restaurants*/
  .restaurants {
    width: 100%;
    padding: 34px 180px 66px 180px;
  }
  .restaurants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 90px;
  }
  .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurants-cards .card {
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 251px;
  }
  .restaurants-cards .new-card1 {
    position: relative;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: #008766;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    bottom: 230px;
    left: 380px;
  }
  .restaurants-cards .new-card2 {
    position: relative;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: #008766;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #99E2D0;
    width: 80px;
    height: 29px;
    font-size: 14px;
    font-weight: 500;
    bottom: 230px;
    left: 380px;
  }
}
/*header*/
.fa-arrow-left {
  position: absolute;
  font-size: 20px;
  right: 335px;
  bottom: 18px;
}

/*pic*/
.menu-pic {
  width: 100%;
  height: 275px;
}

.pic {
  max-width: 100%;
  max-height: 100%;
}

/*menu*/
.menu {
  position: relative;
  margin-top: -100px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-left: 17px;
  padding-top: 32px;
}
.menu h2 {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 300;
  margin-left: 13px;
  position: relative;
}
.menu h2:before {
  position: absolute;
  top: 1.5em;
  width: 40px;
  content: "";
  border-top: 3px solid #99E2D0;
}
.menu .plat {
  font-size: 18px;
  font-weight: 500;
  width: 89%;
}
.menu p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;
}
.menu .menu-list {
  margin-right: 13px;
  margin-bottom: 40px;
}
.menu .choice-menu {
  padding: 12px 0 12px 15px;
  margin-bottom: 12px;
  margin-left: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  max-width: 100%;
}
.menu .price {
  padding-right: 13.5px;
}
.menu .price .price-tag {
  font-weight: 700;
}

.fa-heart {
  position: absolute;
  font-size: 24px;
  bottom: 1110px;
  left: 320px;
}

/*commande*/
.commande {
  text-align: center;
  padding-bottom: 40px;
}

.commander-btn {
  padding: 13px 16px 13px 16px;
  width: 186px;
  height: 50px;
  transition: box-shadow 400ms;
}
.commander-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 1440px;
  }
  /*header*/
  .fa-arrow-left {
    font-size: 20px;
    right: 1400px;
  }
  /*pic*/
  .menu-pic {
    width: 100%;
    height: 383px;
    overflow: hidden;
  }
  .pic {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 200%;
       object-position: 0 200%;
    width: 100%;
    height: 200%;
    max-height: 200%;
  }
  /*menu*/
  .menu {
    width: 73.25%;
    margin-left: 193px;
  }
  .menu h1 {
    text-align: center;
    margin-left: 0;
    padding-top: 51px;
  }
  .menu .dishes {
    padding-left: 210px;
  }
  .menu .plat {
    width: 100%;
  }
  .menu .menu-list {
    margin-right: 0;
  }
  .menu .choice-menu {
    padding: 12px 0 12px 15px;
    margin-left: 0;
    width: 634px;
  }
  .fa-heart {
    bottom: 1110px;
    left: 700px;
  }
}/*# sourceMappingURL=main.css.map */